.item-container {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
  }
  
.store-info {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
  
.menu-items {
  margin-top: 10px;
}

.menu-item {
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
