<div class="container m-4">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="store">Store:</label>
      <input
        type="text"
        class="form-control"
        id="store"
        formControlName="store"
        required
      />
      <div
        *ngIf="
          orderForm.get('store')?.invalid &&
          (orderForm.get('store')?.dirty || orderForm.get('store')?.touched)
        "
        class="alert alert-danger"
      >
        Store is required.
      </div>
    </div>

    <div class="form-group">
      <label for="orderDeadline">Order Deadline:</label>
      <input
        type="datetime-local"
        class="form-control"
        id="orderDeadline"
        formControlName="orderDeadline"
        required
      />
      <div
        *ngIf="
          orderForm.get('orderDeadline')?.invalid &&
          (orderForm.get('orderDeadline')?.dirty ||
            orderForm.get('orderDeadline')?.touched)
        "
        class="alert alert-danger"
      >
        Order Deadline is required.
      </div>
    </div>

    <div class="form-group">
      <label for="deliverTime">Deliver Time:</label>
      <input
        type="datetime-local"
        class="form-control"
        id="deliverTime"
        formControlName="deliverTime"
        required
      />
      <div
        *ngIf="
          orderForm.get('deliverTime')?.invalid &&
          (orderForm.get('deliverTime')?.dirty ||
            orderForm.get('deliverTime')?.touched)
        "
        class="alert alert-danger"
      >
        Deliver Time is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!orderForm.valid">
      Create Order
    </button>
  </form>
</div>
